.BodyMainStyle{
    width: -webkit-fill-available; 
    margin: 10px 15%; 
    min-height: 10vh; 
    padding: 10px;
    border-right: solid 1px black;
    border-left: solid 1px black;
    background: rgba(194, 193, 179, 0.459);
}